<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lessu.xieshi">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" /> <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".base.AppApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppBaseTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="BAgwg7AXl1KAMG9UbyhTrdw6jw4x3iz0" />

        <activity
            android:name=".module.login.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.login.LoginActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".module.login.FirstActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.mis.activitys.MisGuideActivity"
            android:launchMode="singleTask" />

        <activity android:name=".module.meet.activity.OtherJoinMeetingActivity" />
        <activity android:name=".module.meet.activity.ReplaceActivity" />
        <activity android:name=".module.meet.activity.MisMeetingActivity" />
        <activity android:name=".module.meet.activity.MeetingDetailActivity" />
        <activity
            android:name=".module.construction.SampleListActivity"
            android:label="@string/title_activity_sample_list" />
        <activity
            android:name=".base.QRCodeActivity"
            android:label="@string/title_activity_qrcode" />
        <activity
            android:name=".module.web.ReportDetailActivity"
            android:label="@string/title_activity_report_detail" />
        <activity
            android:name=".module.construction.SampleDetailActivity"
            android:label="@string/title_activity_sample_detail" />
        <activity
            android:name=".module.login.ValidateActivity"
            android:label="@string/title_activity_validate" />
        <activity
            android:name=".module.dataauditing.DataAuditingActivity"
            android:label="@string/title_activity_data_auditing" />
        <activity
            android:name=".module.construction.ConstructionListActivity"
            android:label="@string/title_activity_construction_list" />
        <activity
            android:name=".map.ProjectListActivity"
            android:label="@string/title_activity_project_list" />
        <activity
            android:name=".module.dataauditing.DataSearchActivity"
            android:label="@string/title_activity_data_search" />
        <activity
            android:name=".base.XieShiSlidingMenuActivity"
            android:label="@string/title_activity_xie_shi_sliding_menu" />
        <activity
            android:name=".module.dataauditing.AuditingDetailActivity"
            android:label="@string/title_activity_auditing_detail" />
        <activity
            android:name=".module.dataexamine.DataExamineActivity"
            android:label="@string/title_activity_data_examine" />
        <activity
            android:name=".module.todaystatistics.TodayStatisticsActivity"
            android:label="@string/title_activity_today_statistics" />
        <activity
            android:name=".module.construction.ConstructionSearchActivity"
            android:label="@string/title_activity_construction_search" />
        <activity
            android:name=".module.unqualified.UnqualifiedSearchActivity"
            android:label="@string/title_activity_unqualifield_search" />
        <activity
            android:name=".module.unqualified.TestingReportActivity"
            android:label="@string/title_activity_test_report" />
        <activity
            android:name=".module.web.ReportPreviewActivity"
            android:label="@string/title_activity_report_preview" />
        <activity
            android:name=".module.web.RecordPreviewActivity"
            android:label="@string/title_activity_record_preview" />
        <activity
            android:name=".module.dataexamine.ExamineSearchActivity"
            android:label="@string/title_activity_examine_search" />
        <activity
            android:name=".module.dataexamine.ExamineDetailActivity"
            android:label="@string/title_activity_examine_detail" />
        <activity
            android:name=".module.construction.TestConstractActivity"
            android:label="@string/title_activity_test_constract" />
        <activity
            android:name=".module.construction.SampleSearchActivity"
            android:label="@string/title_activity_sample_search" />
        <activity
            android:name=".module.unqualified.TestingReportContentActivity"
            android:label="@string/title_activity_report_content" />
        <activity
            android:name=".module.unqualified.UqTestingReportConclusionActivity"
            android:label="@string/title_activity_report_content" />
        <activity
            android:name=".module.unqualified.SampleDetailActivity"
            android:label="@string/title_activity_report_content" />
        <activity
            android:name=".map.ProjectSearchActivity"
            android:label="" />
        <activity
            android:name=".uploadpicture.UploadPictureActivity"
            android:label="@string/title_activity_upload_picture" />
        <activity
            android:name=".uploadpicture.ImageGalleryActivity"
            android:label="@string/title_activity_image_gallery" />
        <activity
            android:name=".module.dataexamine.ExamineReportDetailActivity"
            android:label="@string/title_activity_examine_report_detail" />
        <activity
            android:name=".module.dataexamine.ExamineSampleListActivity"
            android:label="@string/title_activity_examine_sample_list" />
        <activity
            android:name=".module.dataexamine.ExamineSampleDetailActivity"
            android:label="@string/title_activity_examine_sample_detail" />
        <activity
            android:name=".module.dataexamine.ExamineParamsActivity"
            android:label="@string/title_activity_examine_params" />
        <activity
            android:name=".module.todaystatistics.AdminTodayStatisticsActivity"
            android:label="@string/title_activity_admin_today_statistics" />
        <activity
            android:name=".module.todaystatistics.AdminTodayStatisticsSearchActivity"
            android:label="@string/title_activity_admin_today_statistics_search" />
        <activity
            android:name=".module.construction.QrcodeDetailActivity"
            android:label="@string/title_activity_qrcode_detail" />
        <activity
            android:name=".module.unqualified.UnqualifiedConstructionListActivity"
            android:label="@string/title_activity_construction_list" />
        <activity
            android:name=".module.todaystatistics.TodayStatisticsDetailActivity"
            android:label="@string/title_activity_today_statistics_detail" />
        <activity
            android:name=".set.SettingActivity"
            android:label="@string/title_activity_setting" />
        <activity
            android:name=".set.ServiceActivity"
            android:label="@string/title_activity_service" />
        <activity
            android:name=".set.PasswordActivity"
            android:label="@string/title_activity_password" />
        <activity
            android:name=".set.PasswordCompleteActivity"
            android:label="@string/title_activity_password_complete" />

        <activity android:name=".module.scan.ScanActivity" />
        <activity
            android:name=".module.scan.BluetoothActivity"
            android:label="BluetoothActivity" />
        <activity
            android:name=".module.scan.PrintDataActivity"
            android:label="PrintDataActivity" />
        <activity android:name=".module.scan.ShebeixinxiActivity" />
        <activity android:name=".module.scan.DataInteractionActivity" />
        <activity android:name=".module.scan.SampleInfoCheckConfirmActivity" />
        <activity android:name=".module.scan.ShenqingshangbaoActivity" />
        <activity android:name=".module.scan.ReviewDownloadActivity" />
        <activity android:name=".module.scan.RukuchakanActivity" />
        <activity android:name=".module.scan.YangpinshibieActivity" />

        <activity android:name=".module.mis.activitys.MisMemberSearchActivity" />
        <activity android:name=".module.mis.activitys.HyDetailActivity" />
        <activity android:name=".module.mis.activitys.MisCertificateSearchActivity" />
        <activity android:name=".module.mis.activitys.CertificateDetailActivity" />
        <activity android:name=".module.mis.activitys.MisPingGuActivity" />
        <activity android:name=".module.mis.activitys.PingGuDetailActivity" />
        <activity android:name=".module.mis.activitys.MisNoticesActivity" />
        <activity android:name=".module.mis.activitys.NoticeDetailActivity" />
        <activity android:name=".module.mis.activitys.MisAnnualLeaveManageActivity" />
        <activity android:name=".module.mis.activitys.MisAnnualLeaveApprovalActivity" />
        <activity android:name=".module.mis.activitys.MisAnnualLeaveApplyActivity" />
        <activity android:name=".module.weather.WeatherDetailActivity" />
        <activity android:name=".module.todaystatistics.AdminTodayinfoActivity" />
        <activity android:name=".module.todaystatistics.XianchangActivity" />
        <activity android:name=".module.todaystatistics.XianchangdetailActivity" />
        <activity android:name=".module.mis.activitys.MisComparisonAprovalActivity" />
        <activity android:name=".module.mis.activitys.MisComparionObjActivity" />
        <activity android:name=".module.training.LearnDataActivity" />
        <activity android:name=".module.meet.activity.ScalePictureActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".module.training.OnlineLearnActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true" />
        <activity android:name=".module.training.TrainingActivity" />
        <activity android:name=".module.meet.activity.MeetingListActivity" />
        <activity android:name=".module.meet.activity.OtherConfirmActivity" />
        <activity
            android:name=".module.sand.SandHomeActivity"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>