<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lessu.xieshi">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" /> <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".base.AppApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppBaseTheme">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="BAgwg7AXl1KAMG9UbyhTrdw6jw4x3iz0" />

        <activity
            android:name=".module.login.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.login.LoginActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".module.login.FirstActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.mis.activities.MisGuideActivity"
            android:launchMode="singleTask" />
        <activity android:name=".module.meet.activity.OtherJoinMeetingActivity" />
        <activity android:name=".module.meet.activity.ReplaceActivity" />
        <activity android:name=".module.meet.activity.MisMeetingActivity" />
        <activity android:name=".module.meet.activity.MeetingDetailActivity" />
        <activity android:name=".module.construction.SampleListActivity" />
        <activity android:name=".base.QRCodeActivity" />
        <activity android:name=".module.web.ReportDetailActivity" />
        <activity android:name=".module.construction.SampleDetailActivity" />
        <activity android:name=".module.login.ValidateActivity" />
        <activity android:name=".module.dataauditing.DataAuditingActivity" />
        <activity android:name=".module.construction.ConstructionListActivity" />
        <activity android:name=".module.foundationpile.ProjectListActivity" />
        <activity android:name=".module.dataauditing.DataSearchActivity" />
        <activity android:name=".base.XieShiSlidingMenuActivity" />
        <activity android:name=".module.dataauditing.AuditingDetailActivity" />
        <activity android:name=".module.dataexamine.DataExamineActivity" />
        <activity android:name=".module.todaystatistics.TodayStatisticsActivity" />
        <activity android:name=".module.construction.ConstructionSearchActivity" />
        <activity android:name=".module.unqualified.UnqualifiedSearchActivity" />
        <activity android:name=".module.unqualified.TestingReportActivity" />
        <activity android:name=".module.web.ReportPreviewActivity" />
        <activity android:name=".module.web.RecordPreviewActivity" />
        <activity android:name=".module.dataexamine.ExamineSearchActivity" />
        <activity android:name=".module.dataexamine.ExamineDetailActivity" />
        <activity android:name=".module.construction.TestConstractActivity" />
        <activity android:name=".module.construction.SampleSearchActivity" />
        <activity android:name=".module.unqualified.TestingReportContentActivity" />
        <activity android:name=".module.unqualified.UqTestingReportConclusionActivity" />
        <activity android:name=".module.unqualified.SampleDetailActivity" />
        <activity android:name=".module.foundationpile.ProjectSearchActivity" />
        <activity android:name=".uploadpicture.UploadPictureActivity" />
        <activity android:name=".uploadpicture.ImageGalleryActivity" />
        <activity android:name=".module.dataexamine.ExamineReportDetailActivity" />
        <activity android:name=".module.dataexamine.ExamineSampleListActivity" />
        <activity android:name=".module.dataexamine.ExamineSampleDetailActivity" />
        <activity android:name=".module.dataexamine.ExamineParamsActivity" />
        <activity android:name=".module.todaystatistics.SiteSearchListMapActivity" />
        <activity android:name=".module.todaystatistics.SiteSearchByConditionActivity"/>
        <activity android:name=".module.construction.QrcodeDetailActivity" />
        <activity android:name=".module.unqualified.UnqualifiedConstructionListActivity" />
        <activity android:name=".module.todaystatistics.TodayStatisticsDetailActivity" />
        <activity android:name=".set.SettingActivity" />
        <activity android:name=".set.ServiceActivity" />
        <activity android:name=".set.PasswordActivity" />
        <activity android:name=".set.PasswordCompleteActivity" />
        <activity android:name=".module.scan.ScanActivity" />
        <activity android:name=".module.scan.BluetoothActivity" />
        <activity android:name=".module.scan.PrintDataActivity" />
        <activity android:name=".module.scan.ShebeixinxiActivity" />
        <activity android:name=".module.scan.DataInteractionActivity" />
        <activity android:name=".module.scan.SampleInfoCheckConfirmActivity" />
        <activity android:name=".module.scan.ShenqingshangbaoActivity" />
        <activity android:name=".module.scan.ReviewDownloadActivity" />
        <activity android:name=".module.scan.RukuchakanActivity" />
        <activity android:name=".module.scan.SampleIdentificationActivity" />
        <activity android:name=".module.mis.activities.MisMemberSearchActivity" />
        <activity android:name=".module.mis.activities.HyDetailActivity" />
        <activity android:name=".module.mis.activities.MisCertificateSearchActivity" />
        <activity android:name=".module.mis.activities.CertificateDetailActivity" />
        <activity android:name=".module.mis.activities.MisPingGuActivity" />
        <activity android:name=".module.mis.activities.PingGuDetailActivity" />
        <activity android:name=".module.mis.activities.MisNoticesActivity" />
        <activity android:name=".module.mis.activities.NoticeDetailActivity" />
        <activity android:name=".module.mis.activities.MisAnnualLeaveManageActivity" />
        <activity android:name=".module.mis.activities.MisAnnualLeaveApprovalActivity" />
        <activity android:name=".module.mis.activities.MisAnnualLeaveApplyActivity" />
        <activity android:name=".module.weather.WeatherDetailActivity" />
        <activity android:name=".module.todaystatistics.SiteDetailInfoSearchActivity" />
        <activity android:name=".module.todaystatistics.SiteSceneBlockActivity" />
        <activity android:name=".module.todaystatistics.XianchangdetailActivity" />
        <activity android:name=".module.mis.activities.MisComparisonAprovalActivity" />
        <activity android:name=".module.mis.activities.MisComparionObjActivity" />
        <activity android:name=".module.training.LearnDataActivity" />
        <activity
            android:name=".module.meet.activity.ScalePictureActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".module.training.OnlineLearnActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true" />
        <activity android:name=".module.training.TrainingActivity" />
        <activity android:name=".module.meet.activity.MeetingListActivity" />
        <activity android:name=".module.meet.activity.OtherConfirmActivity" />
        <activity android:name=".module.mis.activities.SealManageListActivity">

        </activity>
        <activity android:name=".module.mis.activities.SealMatterDetailActivity"/>
        <activity android:name=".module.web.WordPreviewActivity"/>
        <activity android:name=".module.mis.activities.EvaluationComparisonPrintActivity"/>
        <activity android:name=".module.mis.activities.EvaluationComparisonDetailActivity"/>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>